@model WebProject.Models.Student
@{
    ViewData["Title"] = "Student Details";
}


<header class=nav-bar>
    <nav>
        <ul>
            <li><a href="/#">Home</a></li>
            <li><a href="/#">About us</a></li>
            <li><a href="/#">Contact Us</a></li>
            <li><a href="/#">Book an Appointment</a></li>
            <li id="reg-btn"> <a href="/Home/Register">Register</a></li>
        </ul>


    </nav>


</header>



<div class="details-outer">
    <h2>Student Details</h2>

    <table class="details-table">
        <tr>
            <th>Student ID</th>
            <td>@($"T00{Model.StudentIdInternal}")</td>
        </tr>
        <tr>
            <th>Registration Date</th>
            <td>@Model.RegistrationDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Middle Name</th>
            <td>@Model.MiddleName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>Program</th>
            <td>@Model.Program</td>
        </tr>
        <tr>
            <th>Enrollment Type</th>
            <td>@Model.EnrollmentType</td>
        </tr>
        <tr>
            <th>Expected Graduation Year</th>
            <td>@Model.ExpectedGraduationYear</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.DateOfBirth.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>@Model.Nationality</td>
        </tr>
        <tr>
            <th>Street Address</th>
            <td>@Model.StreetAddress</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th>Province</th>
            <td>@Model.Province</td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>@Model.ZipCode</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th>Additional Info</th>
            <td>@Model.AdditionalInfo</td>
        </tr>
    </table>

    <br />
</div>
<div class="buttons">


    <a href="/Home/StudentEdit/@Model.StudentIdInternal" class="btn-action">Edit</a>
    <form method="post" asp-action="Logout" style="display:inline;">
        <button type="submit" class="btn-danger">Logout</button>
    </form>
</div>